// Includes
@import "./inc/colors";
@import "./inc/fonts";
@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~animate.css/animate.min.css";
@import "~swiper/swiper.scss";
@import '~select2/dist/css/select2.min.css';
@import "./posts.scss";
@import "./comments.scss";
@import "./search.scss";
@import "./writer-profile.scss";
// Resets
html,body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
h1,h2,h3,h4,h5,h6,p,a,button {
    direction: rtl;
    font-family: $iransans;
}
a {
    color: #000;
}
a:hover {
    text-decoration: none;
}
a.phone {
    color: $white;
    text-align: right;
    direction: ltr;
    padding: 5px;
    float: left;
    transition: 0.33s;
    i {
        margin-right: 5px;
    }
}
.section {
    float: left;
    .photo-cover {
        height: 300px;
        width: fit-content;
        margin: auto;
        position: relative;
        img {
            height: 100%;
            float: left;
        }
        span.curl {
            width: 0px;
            height: 0px;
            background-image: linear-gradient(225deg,lightgray 51%, #F5F5F5 49%);
            float: left;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: .3s;
        }
    }
    .photo-cover:hover span.curl {
        transition: .3s;
        width: 40px;
        height: 40px;
    }
    .top-description {
        font-size: 14px;
        width: 80%;
        margin-left: 10%;
    }

}
// HEADER
header {
    width: 100%;
    float: left;
    background: $chocolate-low;
    height: auto;
}

// Menu
nav.menu {
    height: 80px;
    position: absolute;
    z-index: 1100;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.4);
    .logo {
        float: right;
        padding: 5px;
        margin: 0px;
        height: 100%;
        background: $coffee;
        img {
            width: 70px;
            height: 65px;
        }
    }
    .last {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
        padding: 20px;
        padding-top: 18px;
        padding-left: 10px;
        float: left;
        font-size: 18px;
        color: #ffffff;
        a {
            direction: rtl;
            text-align: right;
            float: left;
            margin: 0px 7px;
            color: #cc7979;
            font-size: 16px;
            height: 100%;
            min-height: 100%;
            float: left !important;
            margin-top: 5px;
            font-family: IranSans;
        }
        a:hover {
            color: $pink-heigh;
        }
    }
    ul {
        width: calc(100% - 80px);
        float: right;
        list-style: none;
        height: 50%;
        margin: 18px 0px;
        padding: 0px 30px;
        li {
            float: right;
            height: 100%;
            padding: 10px 12px;
            padding-top: 8px;
            a {
                height: 100%;
                font-size: 16px;
                color: $white;
                font-family: IranSans;
                transition: 0.3s;
            }
            a:hover {
                color: #dfdfdf;
            }
        }
    }
}

// Slider
@import './slider.scss';

// Content
.content {
    float: left;
    width: 100%;
    background: #f5f5f5;
}
.content.margined {
    margin-top: 80px;
    min-height: 400px;
}
header.page {
    nav.menu {
        background: #543F40;
    }
    nav.menu ul li {
        padding: 6px 12px;
    }
    nav.menu .logo {
        background: rgba(255,255,255,.3);
        box-shadow: -2px -5px 7px 1px #222;
    }
}

.boxes-container {
    height: auto;
    padding: 20px;
    float: left;
    background: url(/images/inc/bg-1.jpg);
    background-repeat: repeat;
    .box {
        float: right;
        padding: 20px;
        .inner {
            background: $white;
            height: 170px;
            box-shadow: 0px 0px 10px 1px #999999;
            border-radius: 5px 7px;
            padding: 10px 5px;
        }
        .icon {
            width: 100%;
            text-align: center;
            color: $chocolate-high;
            font-size: 36px;
        }
        .title {
            font-family: IranSans;
            font-weight: bold;
            color: #333333;
            font-size: 16px;
            text-align: center;
            width: 100%;
        }
        p {
            font-family: IranSans;
            font-size: 12px;
            text-align: right;
            width: 100%;
            float: right;
            padding: 5px;
            color: #444444;
        }
        .btn {
            position: absolute;
            left: 30px;
            bottom: 30px;
            font-family: IranSans;
            transition: 0.3s;
            color: $white;
        }
        .btn-primary {
            background: #3788ca;
            border-color: #3788ca;
        }
        .btn-primary:hover {
            background: #2196f3;
            box-shadow: 0 0 10px 1px #2196f3;
        }
		.btn-purple {
			background: #65359a;
            border-color: #65359a;
		}
        .btn-purple:hover {
            box-shadow: 0 0 10px 1px #65359a;
        }
        .btn-secondary {
            background-color: #4f5356;
        }
        .btn-secondary:hover {
            box-shadow: 0 0 10px 1px #4f5356;
        }
    }
}

.title-row {
    width: 100%;
    padding: 12px;
    .title {
        font-family: IranSans;
        font-weight: bold;
        font-size: 28px;
        width: 100%;
        float: left;
        text-align: center;
    }
    .underline {
        float: left;
        height: 3px;
        margin-top: 10px;
        border-radius: 20px;
        background: #333;
        text-align: center;
        padding: 0px;
    }
    .circular-icon {
        width: 100%;
        float: left;
        margin-top: -15px;
        text-align: center;
        > i {
            text-align: center;
            font-size: 16px;
            padding: 4px;;
            width: 30px;
            height: 30px;
            border: 2px solid #333;
            border-radius: 50%;
            background: $white;
        }
    }
}

.itemslider {
    background: $white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 10px;
    .swiper-slide {
        min-height: 300px;
        padding: 10px;
        transition: 0.3s;
        .cover {
            height: 75%;
            width: 100%;
            max-height: 250px;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            .toolbox {
                top: 15px;
                left: 15px;
                width: 24px;
                position: absolute;
                text-align: center;
                z-index: 99;
                opacity: 0;
                transition: 0.3s;
                i {
                    font-size: 20px;
                    margin-top: 5px;
                    color: $black;
                }
                i.far.fa-heart {
                    transition: 0.3s;
                }
                i.fas.fa-heart {
                    transition: 0.3s;
                    color: #ff5151;
                }
                i:hover {
                    cursor: pointer;
                }
            }
            img {
                height: 100%;
                width: 100%;
                max-height: 200px;
                transition: 0.5s;
            }
        }
        .info {
            font-family: IranSans;
            padding: 15px;
            width: 100%;
            height: 25%;
            text-align: center;
            .book-title {
                font-size: 18px;
                width: 100%;
                float: left;
            }
            .book-subtitle {
                font-size: 12px;
                text-align: right;
            }
            .generes {
                float: left;
                width: 100%;
                a {
                    float: right;
                    font-size: 10px;
                    margin: 5px 2px;
                }
            }
        }
    }
    .swiper-slide:hover {
        background: rgba(0,0,0,.1);
        .cover {
            > img {
                transform: rotate(30deg) scale(1.5);
                opacity: 0.7;
            }
            .toolbox {
                opacity: 1;
            }
        }
    }
    .swiper-button-prev,.swiper-button-next {
        transition: 0.3s;
        top: 35%;
        color: #333;
        background: $white;
        border-radius: 0 15px 15px 0;
        padding: 5px;
		i { font-size: 45px; }
    }
    .swiper-button-next {
        border-radius: 15px 0 0 15px ;
    }
    .swiper-button-disabled {
        color: rgba(51, 51, 51, 0.5);
    }
}

// Footer

.svg-section {
    background: #F2EDEB;
    min-height: 400px;
    > div {
        float: left;
    }
    p {
        font-family: $iransans;
        text-align: justify;
        line-height: 36px;
        font-size: 18px;
        float: left;
    }
    .platforms {
        .platform {
            padding: 5px 10px;
            margin: 10px;
            span {
                font-size: 14px;
                font-family: $iransans;
                margin-left: 12px;
            }
            img {
                width: 30px;
                height: 30px;
                float: left;
            }
        }
        .platform.rght {
            img { float: right; }
            span { margin-left: 0; margin-right: 8px; }
        }
    }

}
.podcastlist {
    .item-container {
        padding: 20px;
        float: left;
        .item {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            background: $white;
            .cover {
                height: 250px;
                text-align: center;
                border-radius: 5px 5px 0 0;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    margin: auto;
                }
            }
            .info {
                font-family: $iransans;
                .info-title {
                    font-size: 22px;
                    font-weight: bold;
                    width: 100%;
                    float: left;
                    transition: 0.3s;
                }
                .info-title:hover {
                    color: #744138;
                }
                p {
                    font-size: 14px;
                }
            }
            a.btn {
                font-size: 16px;
                i {
                    margin-top: 4px;
                }
            }
        }
    }
}
.podcast-top-section {
    min-height: 250px;
    background: rgba(161, 126, 126, 0.1);
    .title {
        margin-top: 80px;
        font-size: 36px;
    }
    .categories {
        text-align: center;
        direction: rtl;
    }
}
footer, .footer {
    width: 100%;
    float: left;
    background: $chocolate-bitter;
    min-height: 250px;
    box-shadow: 0 1px 10px 1px inset #000000;
    direction: rtl;
    padding: 20px;
    > div {
        float: right;
        direction: rtl;
        text-align: right;
        height: 100%;
        p,ul,li,a,.footer-title {
            font-family: IranSans;
            font-size: 14px;
            color: $white;
            text-align: right;
        }
        li { width: 100%; float: left; a { padding: 5px; width: fit-content; float: right; } }
        a  { padding: 2px; }
        a:hover {
            color: $milk;
        }
        ul {
            list-style: none;
            float: left;
            width: 100%;
            padding: 5px;
            margin: 0px;
        }
        .footer-title { width: 100%; float: left; text-align: center; border-bottom: 1px solid $white; padding-bottom: 10px; }
    }
    ul.social-media {
        display: inline-flex;
        li { margin: 5px; font-size: 20px; a { padding: 5px; font-size: 20px; } }
    }
    .bottom-footer {
        border-top: 1px solid $white;
        .copyright {
            direction: ltr;
        }
    }
}
a:hover i.fa-whatsapp { color: $whatsapp; }
a:hover i.fa-instagram { color: $instagram; }
a:hover i.fa-youtube { color: $youtube; }
a:hover i.fa-linkedin { color: $linkedin; }
a:hover i.fa-twitter { color: $twitter; }
a:hover i.fa-facebook-f { color: $facebook; }
a:hover i.fa-paper-plane { color: $telegram; }

.swiper-button-prev, .swiper-button-next { outline: none; }

.search-icon {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.2);
    color: #dfdfdf;
    margin: 0px 8px !important;
    border-radius: 3px;
    height: 100%;
    float: left;
}

.search-section {
    transition: 0.5s;
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1200;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(110, 94, 95,0.9);
}

.search-section.active {
    display: block;
}

@media screen and (max-width: 768px) {
    .search-icon {
        padding: 5px 10px;
        font-size: 15px;
        margin: 0px 4px !important;
        height: fit-content;
    }
    .swiper-slide img {
        height: 300px;
    }
    .swiper-button-next, .swiper-button-prev {
        i {
            font-size: 30px;
        }
    }
    footer, .footer {
        > div {
            padding: 15px;
        }
    }
    .itemslider {
        .swiper-slide .cover img {
            max-height: 300px;
        }
    }
    nav.menu {
        .last {
            padding: 10px;
            left: 10px;
            width: 80%;
            a {
                height: fit-content;
                min-height: unset;
            }
        }
        ul {
            display: none;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #543F40;
            z-index: 6800;
            margin: 0px;
            padding: 20px 0px;
            min-height: 300px;
            overflow: auto;
            li {
                width: 100%;
                height: auto;
                float: left;
                a {
                    height: 25px;
                    width: 100%;
                    float: left;
                    text-align: center;
                }
            }
        }
    }
}

.date { direction: rtl; display: block; }

.inside-section {
    height: fit-content;
    background-image: url(/images/inc/cooperation.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    background-attachment: fixed;
    float: left;
    overflow: hidden;
    .section-content {
        width: 100%;
        height: 100%;
        float: left;
        background: rgba(0,0,0,0.6);
    }
}
.select2-container {
    width: 80% !important;
    float: right;
    font-family: Iransans;
    font-size: 18px;
    text-align: right;
}
.select2-container .select2-selection--single {
    height: 45px !important;
    padding: 5px;
    // padding-bottom: 10px;
    border-radius: 4px 0 0 4px !important;
}
.lilselect {
    justify-content: flex-end !important;
    .select2-container {
        font-size: 16px;
    }
}
.cooperation-input {
    font-family: Iransans;
    text-align: right;
    direction: rtl;
    background-color: rgb(222, 239, 255) !important;
    // font-size: 1.2vw;
}
.cooperation-content-container {
    // position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h2 {
        font-family: Iransans;
        font-weight: bold;
        text-align: right;
        direction: rtl;
        // font-size: 2vw;
    }
    p {
        font-family: Iransans;
        line-height: 1.7;
        color: rgb(211, 211, 211);
        text-align: right;
        direction: rtl;
        // font-size: 1.3vw;
    }
    select, textarea, span {
        background-color: rgb(222, 239, 255) !important;
        // font-size: 1.2vw;
    }
    i {
        color: rgb(116, 149, 248);
    }
    textarea {
        // font-size: 1.2vw;
        font-family: Iransans;
        text-align: right;
        direction: rtl;
        overflow-x: hidden;
        resize: none;
        height: 300px !important;
    }
    .submit-cooperation {
        text-align: center;
        display: table;
        margin-left: auto;
        margin-right: auto;
        font-family: Iransans;
    }
}