@import "./inc/colors";
@import "./inc/fonts";

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.podcast-container {
    margin-top: 150px;
    margin-bottom: 150px;
}
.elnovel-audioplayer {
    background: $trs;
    float: left;
    height: 100px;
    padding: 0px;
    .pleayer-over {
        position: relative;
        height: 100%;
        background: $chocolate-low;
        border-radius: 15px;
        z-index: 2;
        .album-art {
            position: absolute;
            top: -40px;
            right: 40px;
            width: 115px;
            height: 115px;
            border-radius: 50%;
            box-shadow: 0 0 0 5px $chocolate-low;
            overflow: hidden;
            transition: 0.5s;
            img {
                float: left;
                width: 100%;
                height: 100%;
            }
        }
        .album-art.active {
            top: -50px;
            img {
                transition: 0.1s linear all;
                animation: rotation 5s linear 0s infinite forwards;
            }
        }
        .album-art.activer {
            img {
                animation-duration: 1s;
            }
        }
        .player-controls {
            height: 100%;
            float: left;
            width: calc(100% - 165px);
            padding: 5px 10px;
            .control {
                float: left;
                width: 25%;
                padding: 5px;
                text-align: center;
                height: 100%;
                font-size: 26px;
                i {
                    margin-top: calc(50% - 13px);
                    color: $chocolate-bitter;
                }
            }
            .volume-container {
                transition: 0.3s;
                position: relative;
                float: left;
                width: 100px;
                height: 30px;
                padding: 0px 4px;
                margin-left: 60px;
                margin-top: -50%;
                display: none;
                opacity: 0;
                overflow: hidden;
                background: rgba(0,0,0,0.2);
                .volume-slide {
                    width: 90%;
                    position: absolute;
                    z-index: 4;
                    top: -10px;
                    .volume-slider {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 10px;
                        background-color: #999999;
                        outline: none;
                        -webkit-transition: .2s;
                        transition: .2s;
                        border-radius: 12px;
                    }
                    .volume-slider:hover {
                        opacity: 1;
                    }
                    .volume-slider::-webkit-slider-thumb, .volume-slider::-moz-range-thumb {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: #dfdfdf;
                    }

                }
            }
            .control.volume-box:hover {
                .volume-container {
                    transition: 0.3s;
                    display: block;
                }
            }
            .control i:hover {
                cursor: pointer;
            }
        }
    }
    .player-content {
        position: absolute;
        top: 0;
        right: 15px;
        left: 15px;
        background: #FFF7F7;
        transition: .3s ease top;
        z-index: 1;
        height: 100%;
        border-radius: 15px 15px 0 0;
        font-family: $iransans;
        padding-right: 160px;
        padding-top: 10px;
        .title, .subtitle { float: left; width: 100%; text-align: right; direction: rtl; margin: 0px; }
        .title {
            font-size: 18px;
        }
        .subtitle {
            font-size: 14px;
            color: #444444;
        }
        .audio-slider {
            float: left;
            width: 80%;
            direction: ltr;
            height: 10px;
            outline: none;
            border-radius: 5px;
            background: $milk;
            padding: 0px;
            margin-top: 10px;
            cursor: pointer;
            margin-left: 20%;
            .bar {
                background: $chocolate-bitter;
                height: 100%;
                border-radius: 5px;
                margin: 0px;
                z-index: 1;
                position: relative;
            }
            .s-hover {
                background: $chocolate;
                height: 100%;
                border-radius: 5px;
                margin: 0px;
                z-index: 2;
                width: 100%;
                top: -10px;
                position: relative;
            }

        }
    }
    .player-content.active {
        top: -92px;
    }
    span.volume-speed {
        font-family: Iransans;
        font-size: 10px;
        padding: 0px 5px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.2);
        color: #dfdfdf;
        position: absolute;
        top: 30px;
    }
}