@import 'inc/colors';
@import '../../node_modules/sweetalert2/src/sweetalert2.scss';
.auth {
    background-image: url(/images/inc/login_back.svg);
    background-position: center;
    background-size: cover;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    .alert {
        font-family: Iransans;
        font-size: 16px;
    }
    p, label {
        color: $white;
    }
    label {
        float: right;
        font-size: 14px;
        margin-left: 5px;
    }
    input[type=checkbox].remember {
        height: 16px;
        width: 16px;
        float: right;
    }
    .btn.align-baseline {
        direction: rtl;
    }
    > div {
        height: 100%;
        overflow: hidden;
    }
    .login-people {
        height: 650px;
        text-align: center;
        position: absolute;
        bottom: -80px;
        left: 0;
        img {
            height: 100%;
            width: auto;
            margin: auto;
        }
    }
    .form-container {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 20%;
        background: rgba(37, 34, 34, 0.5);
        float: left;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
        form, .title {
            float: left;
            font-family: Iransans;
            color: $black;
        }
        .title {
            font-size: 28px;
            color: $white;
            > a {
                font-size: 20px;
                color: #dfdfdf;
            }
        }
        .logo {
            width: 100%;
            text-align: center;
            float: left;
            padding: 20px;
            img {
                margin: auto;
                width: 100px;
                height: 100px;
                padding: 10px;
                box-shadow: 0 0 5px 0.5px #000000;
            }
        }
        i > span {
            font-size: 10px;
            outline: none;
            position: absolute;
            margin-top: 10px;
            margin-left: -5px;
        }
        a {
            color: $white;
            font-size: 14px;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .oauth {
        .btn {
            float: left;
            text-align: center;
            font-family: Iransans;
            font-size: 20px;
            display: flex;
            direction: ltr;
            padding: 0px;
            span {
                height: 100%;
                padding: 5px 12px;
                padding-bottom: 0px;
                border-right: 1px solid #444;
                img, i {
                    transition: 0.3s;
                    transform: scale(.8);
                }
            }
            span.br {
                border-radius: 5px;
            }
            p {
                transition: .3s;
                margin: auto;
            }
        }
        .btn:hover span {
            img, i {
                transform: scale(1);
            }
        }
        .google {
            background: $white;
            span {
                background: $white;
            }
            p {
                color: #444;
            }
        }
        .google:hover {
            background: #3367D6;
            p { color: $white; }
        }
        .linkedin {
            transition: 0.3s;
            background: #0077B5;
            box-shadow: 0 0 5px 0.5px #333333;
            span {
                background: #0077B5;
            }
        }
        .linkedin:hover {
            background: #066093;
        }
    }
}

.checkbox-c{
    display: inline-block;
    width: 70px;
    height: 28px;
    position: relative;
    right: 0;
    top: 0px;
    font-size: 18px !important;
    input {
        margin-left: 10px;
    }
    input:checked + .check-handle{
        transition: 0.5s;
        background: #0088DD;
        font-weight: bold;
    }
    input:checked + .check-handle:before{
        color: #026cad;
        content: '\f222';
        transform: translateX(41px);
        transition: 0.5s;
        text-align: center;
        font-weight: bold;
    }
}
.check-handle{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #D7DBDF;
    float: left;
    transition: 0.5s;
    border-radius: 28px;
    cursor: pointer;
}
.check-handle:before{
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    content: '\f221';
    text-align: center;
    position: absolute;
    top: 2px;
    left: 3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    right: 0px;
    transition: 0.5s;
}
.sex-checkbox {
    i {
        float: right;
        position: relative;
        color: #ffffff;
    }
    .checkbox-c {
        direction: ltr;
        top: 5px;
        .check-handle {
            background: #ff7a91;
            transition: .3s;
            color: #e7697e;
        }
        input:checked + .check-handle {
            transition: 0.3s;
        }
    }
}
.rtl {
    direction: rtl;
}

@media screen and (max-width: 1279px) {
    .auth .login-people {
        height: 400px;
        bottom: 0px;
    }
}

@media screen and (max-width: 767px) {
    .sex-checkbox {
        width: 70% !important;
    }
    .auth {
        .form-container, .login-people {
            bottom: unset;
            top: 0;
            position: relative;
            float: left;
        }
        .login-people { height: 200px; margin-bottom: -25px; }
        .form-container {
            .logo {
                padding: 10px;
                img {
                    height: 75px;
                    width: 75px;
                }
            }
            .title {
                font-size: 20px;
                padding: 5px !important;
            }
            form {
                padding: 5px;
                .input-group {
                    padding: 5px;
                    input {
                        font-size: 14px;
                    }
                }
            }
        }
        > div {
            height: auto;
            float: left;
        }
    }
}