 .set-window {
     overflow-x: initial !important;
     overflow-y: initial !important;
 }
 .content-container {
    text-align: right;
    margin: 5% auto;
    h1 {
        font-family: $iransans;
        font-weight: bold;
        font-size: 30;
    }
    h3 {
        font-family: $iransans;
        font-weight: bold;
        margin: 5% auto;
    }
    span {
        font-family: $iransans;
        text-align: right;
        direction: rtl;
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 5% auto;
        border-radius: 5px;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    }
    .body-container {
        text-align: right;
        direction: rtl;
        h1, h2, h3, h4, h5, h6, p, a, span {
            font-family: $iransans;
        }
        > p {
            line-height: 2;
        }
        > img {
            display: block;
            width: 80%;
            height: auto;
            margin: 5% auto;
        }
        a {
            color: royalblue;
        }
    }
    .comment-section-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .comment-container {
        margin-top: -5%;
        margin-bottom: 10%;
    }
    .comments {
        margin-bottom: 2% !important;
        .comment-content {
            border-radius: 10px;
            border-top-right-radius: 0px;
            background-color: rgb(235, 235, 235);
            padding: 10px;
            margin-top: -35px;
            margin-right: 15px;
            p {
                word-break: break-word;
            }
        }
        .reply-info {
            font-family: $iransans;
        }
        .reply-comment {
            margin-top: -9% !important;
        }
        .user-info-container {
            display: flexbox;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: right;
            align-items: flex-start;
            p {
                display: inline-flex;
                font-family: $iransans;
                margin-right: 20px;
                text-align: right;
                direction: rtl;
                font-weight: bold;
            }
            img {
                display: inline-flex;
                width: 40px;
                height: auto;
                border-radius: 50px;
                border: 3px solid #999;
                box-shadow: none;
            }
            span {
                display: inline-flex;
                text-align: right;
                direction: rtl;
                margin-right: 20px;
                font-family: $iransans;
                font-size: small;
            }
        }
        p {
            text-align: right;
            direction: rtl;
            font-family: $iransans;
            line-height: 2 !important;
            padding: 10px;
        }
        .last-comment-section {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: flex-start;
            > div {
                margin-left: 20px;
                span {
                    font-size: 15px;
                    margin-left: 5px;
                    color: darkgrey;
                    ~ i:hover {
                        color: red !important;
                    }
                }
                i {
                    color: darkgrey;
                    transition-duration: 0.3s;
                    font-size: 24px;
                }
                i:hover {
                    color: purple;
                }
                .liked {
                    color: red;
                }
            }
            > p {
                font-family: $iransans;
                text-align: right;
                direction: rtl;
            }
        }
    }
    .write-comment {
        > div {
            margin-left: 20px;
            > img {
                border-radius: 50px;
                width: 50px;
                height: auto;
                margin-left: 14px;
                border: 3px solid #999;
                box-shadow: none;
            }
        }
        > textarea {
            min-height: 200px;
            width: 100%;
            margin-bottom: 20px;
            resize: none;
            padding: 10px;
            text-align: right;
            direction: rtl;
        }
        button {
            margin-left: 10px;
            width: fit-content;
        }
        > p {
            font-family: $iransans;
            font-family: 20px;
        }
        .maxed-txtarea {
            box-shadow: inset 0px 0px 5px 0px #ca1341;
        }
        .reply-container {
            height: 85px;
            padding: 12px;
            border-right: 3px solid #744138;
            // border-radius: 10px;
            background-color: #f3f0f0;
            p {
                font-family: $iransans;
                font-size: small;
                line-height: 1.8;
            }
        }
    }
    .login-Status {
        font-family: $iransans;
        direction: rtl;
        text-align: right;
    }
}