// Includes
@import "./inc/colors";
@import "./inc/fonts";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~animate.css/animate.min.css";

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    direction: rtl;
}

body {
    background-color: $nescafe;
    background-image: url(/images/inc/404-overlay.png);
    background-repeat: repeat;
}

.people-middle {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    img {
        width: 50%;
        height: auto;
        margin: auto;
    }
    .font {
        font-family: IranSans;
        color: #ffffff;
    }
    .title {
        text-align: center;
    }
}

.logo-container {
    position: absolute;
    z-index: 21;
    top: 0;
    right: 0;
    width: fit-content;
    height: auto;
    padding: 20px;
    img {
        height: 120px;
        width: auto;
        float: right;
    }
}