.posts-page {
    background-color: #f5f4f4;
}
.posts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    text-align: right;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
    > div:hover {
        transform: translate(-5px, -5px);
        transition: 0.3s;
    }
    > div {
        transition: 0.3s;
        height: 420px;
        border-radius: 20px;
        margin-bottom: 4%;
        > div:first-child {
            overflow: hidden;
            position: relative;
            height: 50%;
            width: inherit;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin-bottom: -10px;
            z-index: 5;
            cursor: pointer;
            > img {
                width: 100%;
                height: 100%;
                transition: 0.4s;
            }
            .overlay {
                opacity: 0;
                height: 100%;
                top: -100%;
                position: relative;
                z-index: 7;
                padding: 10px;
                transition: 0.3s;
                > div {
                    background: rgba(255,255,255,.3);
                }
                span {
                    font-family: $iransans;
                    font-size: 14px;
                    color: $black;
                }
            }
        }
        > div:hover {
            .overlay {
                opacity: 1;
            }
            img {
                transform: scale(1.1);
            }
        }
        .post-info-container {
            position: relative;
            top: -2%;
            z-index: 6;
            height: 50%;
            width: inherit;
            border-radius: 20px 20px 0 0;
            background-color: #ffffff;
            transition: 0.4s;
            box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.1);
            > div:first-child {
                // overflow-y: scroll;
                overflow: hidden;
                height: 80%;
            }
            .post-title {
                font-size: 16px;
                font-family: $iransans;
            }
            .post-desc {
                font-size: 12px;
            }
            p {
                line-height: 1.5;
                font-family: $iransans;
            }
            .see-section {
                height: 20%;
                > button {
                    text-align: right;
                    font-family: $iransans;
                    font-size: 14px;
                    i {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.pagination-section {
    display: flex;
    justify-content: center;
}
.pagination .page-link { direction: ltr; }