.search-section-container {
    text-align: center;
    position: relative;
    top: 20%;
    transform: translateY(-10%);
    > div.catagory-section {
        display: flex;
        direction: row;
        justify-content: center;
    }
    > div.input-section {
        width: 100%;
        .search-button {
            border-radius: 50% 0 0 50%;
            padding: 5px 15px;
            padding-top: 10px;
            font-size: 26px;
        }
        > input {
            height: auto;
            text-align: right;
            direction: rtl;
            display: inline-block;
            padding: 5px 15px;
            font-family: $iransans;
            font-size: 26px;
            border-radius: 20px;
            background-color: rgba(255,255,255,.8);
        }
        .form-control:focus {
            border-color: #271a1a;
            box-shadow: 0 0 0 0.2rem rgba(19, 4, 4, 0.25);
        }
    }
}
.catagory-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > div {
        input {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            color: #cc7979;
            cursor: pointer;
        }
        label {
            font-family: $iransans;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
.combo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    // padding-left: 4rem;
    > div {
        > p {
            font-family: $iransans;
            font-weight: bold;
            font-size: 20px;
        }
        > ul {
            padding: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            > li {
                background-color:#343A40;
                height: 50px;
                transition: 0.3s;
                cursor: pointer;
                padding: 0;
                border-bottom: 1px solid gray;
                display: flex;
                justify-content: center;
                flex-direction: column;
                > a {
                    text-align: center;
                    direction: rtl;
                    font-family: $iransans;
                    color: #fff7f7 !important;
                    font-size: 14px;
                }
                > p {
                    text-align: center;
                    direction: rtl;
                    font-family: $iransans;
                    font-size: 14px;
                }
            }
            > li.not-found {
                background-color: inherit !important;
                height: 50px;
                transition: 0.3s;
                padding: 0;
                border-bottom: initial;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                cursor: initial;
            }
            > li:hover {
                background-color:#6C757D;
            }
            > li.hovered {
                background-color: #6C757D;
            }
        }
    }
}
.search-background {
    min-height: 800px;
    background-image: url(/images/blurred-bookshelves-library_23-2147845878.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 0;

    float: left;
    #react-search-screen {
        position: static;
    }
    .search-pro-container {
        text-align: center;
        float: left;
        > div.input-section {
            position: absolute;
            top: 5px;
            width: 100%;
            padding: 0;
            background-color: #f8f9fa;
            border-radius: 6px;
            .search-button {
                border-radius: 6px;
                padding: 5px 15px;
                padding-top: 10px;
                font-size: 26px;
            }
            > input {
                height: auto;
                text-align: right;
                direction: rtl;
                display: inline-block;
                padding: 5px 15px;
                font-family: $iransans;
                font-size: 26px;
                border: 1px solid #ced4da;
                border-left: none;
                border-right: none;
            }
            // .form-control:focus {
            //     border-color: #271a1a;
            //     box-shadow: 0 0 0 0.2rem rgba(19, 4, 4, 0.25);
            // }
        }
    }
}
.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    border: 1px solid #ced4da;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    > span {
        display: block;
        text-align: center;
        direction: rtl;
        font-family: $iransans;
        font-weight: bold;
        cursor: pointer;
    }
    > span::after {
        position: absolute;
        width: 1px;
        height: 60%;
        background-color: #cfd9e0;
        content: "";
        margin-right: 1%;
    }
    > div.disable {
        display: none;
        opacity: 0;
        position: absolute;
    }
    > div.active {
        display: block;
        opacity: 1;
        position: absolute;
        z-index: 2000;
        right: 0%;
        top: 109%;
        // background-color: #fff;
        background-color: rgba(255,255,255,.8);
        padding: 5px;
        box-shadow: 0 0 60px rgba(34,34,34,0.25);
        min-width: 35%;
        border-radius: 5px;
        .radio-container {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row-reverse;
            justify-content: right;
            align-items: baseline;
            > input {
                margin-left: 6px;
                cursor: pointer;
            }
            > label {
                cursor: pointer;;
            }
        }
        p, label {
            font-family: $iransans;
        }
        p {
            font-weight: bold;
        }
        div.ordered-by {
            width: 100%;
        }
    }
    > div.active::after {
        position: absolute;
        top: -3%;
        left: 86%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 0;
        width: 0;
        border-bottom: 4px solid #fff;
        border-left: 4px solid rgba(0,0,0,0);
        border-right: 4px solid rgba(0,0,0,0);
        margin: 6px 0 0;
        content: '';
    }
    .filter-section {
        border-bottom: 1px solid #999;
        div.catagory-section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            .check-container {
                text-align: right;
                > input {
                    display: inline;
                    margin-left: 6px;
                }
                > label {
                    font-weight: normal;
                }
            }
        }
    }
}
// @keyframes move-to-top {
//     from {
//         top: 30%
//     }
//     to {
//         top: 5px
//     }
// }
// .moved-to-top {
//     animation: move-to-top 1.5s ease-out 1 forwards;
// }
div.results-nav {
    position: static;
    margin-top: 100px;
    margin-bottom: 10px;
    float: right;
    > nav {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        animation-duration: 2s;
        > div {
            animation-duration: 2s;
            > a {
                font-family: $iransans;
                font-weight: normal;
                color: #950000 !important;
                display: block;
                margin-bottom: 5px;
                cursor: pointer;
            }
            p {
                font-family: $iransans;
                font-size: small;
                animation-duration: 1.5s;
            }
        }
        > div.active {
            cursor: pointer;
            > a {
                font-weight: bold;
                border-bottom: 3px solid #950000 ;
            }
        }
    }
}
div.results-container {
    display: none;
}
div.results-container.active {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // display: block;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin: 50px auto 20px auto;
    width: 70%;
    margin-left: 15%;
    float: left;
    > div:first-child {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        div.loader {
            clear: both;
        }
        p {
            font-family: $iransans;
            font-size: small;
        }
        div.writer-result {
            background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
            height: 300px;
            margin: 20px;
            margin-top: 95px;
            position: relative;
            border-radius: 20px;
            div.profile-photo-container::before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            div.profile-photo-container {
                position: relative;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
                transform: translateY(-50%);
                div.circle-image-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: 0.4s;
                    // overflow: hidden;
                    // padding: 10px;
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 150px;
                        border: 4px solid #f69d3c;
                        // transition: 0.5s;
                    }
                    // img:hover {
                    //     transform: scale(1.1);
                    // }
                }
                div.circle-image-container:hover {
                    transform: scale(1.1);
                }
            }
            div.writer-info {
                margin-top: -28%;
                height: 53%;
                overflow: hidden;
                p:first-child {
                    font-size: 20px;
                    text-align: center !important;
                }
                p {
                    text-align: right;
                    direction: rtl;
                    font-family: $iransans;
                    font-weight: bold;
                }
                p.writer-bio {
                    color: #24394d;
                }
            }
            div.see-button-container {
                position: absolute;
                bottom: 10px;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                text-align: center;
                button {
                    font-family: $iransans;
                }
                button:hover {
                    background-color: #3f87a6;
                }
            }
        }
        div.post-result {
            transition: 0.3s;
            height: 420px;
            border-radius: 20px;
            margin-top: 2%;
            > div:first-child {
                overflow: hidden;
                position: relative;
                height: 50%;
                width: inherit;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                margin-bottom: -10px;
                z-index: 5;
                cursor: pointer;
                > img {
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                }
                .overlay {
                    opacity: 0;
                    height: 100%;
                    top: -100%;
                    position: relative;
                    z-index: 7;
                    padding: 10px;
                    transition: 0.3s;
                    > div {
                        background: rgba(255,255,255,.3);
                    }
                    span {
                        font-family: $iransans;
                        font-size: 14px;
                        color: $black;
                    }
                }
            }
            > div:hover {
                .overlay {
                    opacity: 1;
                }
                img {
                    transform: scale(1.1);
                }
            }
            .post-info-container {
                position: relative;
                top: -2%;
                z-index: 6;
                height: 50%;
                width: inherit;
                border-radius: 20px 20px 0 0;
                background-color: #ffffff;
                transition: 0.4s;
                box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.1);
                > div:first-child {
                    height: 80%;
                }
                .post-title {
                    font-size: 16px;
                    font-family: $iransans;
                    text-align: right;
                }
                div.post-desc::-webkit-scrollbar {
                    display: none;
                }
                div.post-desc {
                    overflow-y: scroll;
                    max-height: 90px;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                    p {
                        font-size: 12px;
                        text-align: right;
                        line-height: 1.5;
                        font-family: $iransans;
                        transition: 0.3s;
                    }
                }
                div.post-desc:hover {
                    p {
                        color: #5bc0de !important;
                    }
                }
                .see-section {
                    height: 20%;
                    button {
                        text-align: right;
                        font-family: $iransans;
                        font-size: 14px;
                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        div.post-result:hover {
            transform: translate(-5px, -5px);
            transition: 0.3s;
        }
    }
}
div.book-serie-podcast-result {
    height: 370px;
    padding: 10px;
    transition: 0.3s;
    margin-bottom: 10px;
    overflow: hidden;
    .cover {
        height: 55%;
        width: 100%;
        max-height: 250px;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        .toolbox {
            top: 15px;
            left: 15px;
            width: 24px;
            position: absolute;
            text-align: center;
            z-index: 99;
            opacity: 0;
            transition: 0.3s;
            i {
                font-size: 20px;
                margin-top: 5px;
                color: $black;
            }
            i.far.fa-heart {
                transition: 0.3s;
            }
            i.fas.fa-heart {
                transition: 0.3s;
                color: #ff5151;
            }
            i:hover {
                cursor: pointer;
            }
        }
        img {
            height: 100%;
            width: 100%;
            max-height: 200px;
            transition: 0.5s !important;
        }
        img.podcast-image {
            border-radius: 150px;
        }
    }
    .info {
        font-family: IranSans;
        padding: 15px;
        width: 100%;
        height: 40%;
        text-align: center;
        .book-title {
            font-size: 18px;
            width: 100%;
            float: left;
        }
        .book-subtitle {
            height: 68%;
            float: right;
            display: inline-block;
            font-size: 12px;
            text-align: right;
            margin-bottom: 4px;
            overflow: hidden;
        }
        .generes {
            float: left;
            width: 100%;
            a {
                float: right;
                font-size: 10px;
                margin: 5px 2px;
            }
        }
    }
}
div.book-serie-podcast-result:hover {
    background: rgba(0,0,0,.1);
    .cover {
        img {
            transform: rotate(30deg) scale(1.5) !important;
            opacity: 0.7 !important;
        }
        .toolbox {
            opacity: 1;
        }
    }
}