.header-img-container {
    width: 100%;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    >img {
        width: 100%;
        height: 100%;
        border-radius: 0 0 5px 5px;
    }
}
@media screen and (max-width: 500px) {
    .header-img-container {
        height: 230px;
    }
}
div.profile-section-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    div.profile-photo-section {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        transform: translateY(-77%);
        > img {
            width: 160px;
            height: 160px;
            border-radius: 100px;
            padding: 0;
            border: 4px solid #fff;
        }
        > div {
            text-align: right;
            > div {
                margin-bottom: 16px;
                h1 {
                    font-weight: bold;
                    font-size: 24px;
                    color: #fff;
                    text-shadow: 0 0 3px rgba(0, 0, 0, .8);
                    margin-right: 6px;
                    text-align: right;
                    display: inline;
                }
                i.feather {
                    color: #f0ad4e;
                    transition: 0.4s;
                }
                i.feather:hover {
                    color: #FF9F1E;
                    @at-root  {
                        .show-confirm {
                            display: block;
                        }
                    }
                }
            }
        }
        div.show-confirm {
            display: none;
        }
    }
}
div.writer-statistics {
    > div {
        text-align: right;
        float: right;
        > div {
            direction: rtl;
            text-align: center;
            margin-right: 5px;
            display: inline-block;
            p, span {
                text-align: center;
                direction: rtl;
                font-family: $iransans;
                color: #435d77;
                display: block;
            }
            span {
                font-weight: bold;
            }
        }
        i {
            color: #435d77;
            float: right;
            padding-top: 5px;
        }

    }
}
@media screen and(max-width: 350px) {
    div.writer-statistics {
        padding: 0;
    }
}
div.writer-info-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    > div.bio-container {
        p {
            color: #435d77;
            text-align: right;
            direction: rtl;
            font-family: $iransans;
        }
        :first-child {
            font-size: 20px;
        }
    }
}
div.writer-profile-tabs-container {
    float: left;
    nav.writer-tabs-top-navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        > div {
            p {
                display: inline;
                float: left;
                font-family: $iransans;
                color: #435d77;
            }
            i {
                color: #435d77;
                margin-left: 6px;
                font-size: 20px;
            }
        }
        > div.active {
            border-bottom: 2px solid #2196f3;
            p {
                font-weight: bold;
                color: #24394d;
            }
            i {
                color: #24394d;
            }
        }
        > div:hover {
            cursor: pointer;

        }
    }
    ul.writer-tabs-content {
        margin-top: 20px;
        > li {
            list-style: none;
            > div {
                display: none;
            }
        }
        > li.active {
            > div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-self: flex-start;
                margin-left: auto;
                margin-right: auto;
                > div {
                    margin-bottom: 15px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.circular-svg {
    align-self: center;
    stroke: red;
    stroke-width: 1;
    .elnovel-rate {
        text-align: center;
        /* margin-top: -100px; */
        position: absolute;
        font-size: 40px;
        top: 0;
        left: 0;
        width: 80%;
        height: 80%;
        font-weight: bold;
        text-align: center;
        div.img {
            width: fit-content;
            height: 50%;
            margin: auto;
            margin-top: 20%;
            background: #f5f5f5;
            position: relative;
            overflow: hidden;
            .colored {
                background: #070b44;
            }
            span {
                position: absolute;
                left: 20%;
                bottom: 5px;
                font-size: 12px;
            }
            img {
                width: auto;
                height: 100%;
                /* position: absolute; */
                z-index: 21;
                left: 0;
            }

        }
        span {
            font-size: 30px;
            font-weight: normal;
        }
    }
    .progress-bar {
        // stroke-dasharray: 0 100;
        transition: 3s;
        stroke-width: 2;
        stroke: #435d77;
        position: relative;
        height: 200px;
        border-radius: 5px;
        stroke-linecap: round;
        content: '20%';
    }
}
@media screen and(min-width: 1000px) {
    div.guide-section {
        right: 8%;
    }
}
div.guide-section {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: revert;
    align-items: center;
    > div {
        text-align: center;
        > p {
            font-family: $iransans;
            color: #999;
        }
        > p::after {
            background-color: #070b44;
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 8px;
        }
    }
    > div:first-child {
        > p::after {
            background-color: #435d77;
        }
    }
}