@import 'variables';
@import '~select2/dist/css/select2.min.css';
@import '../../../../node_modules/sweetalert2/src/sweetalert2.scss';
// RESETS
body,html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body.swal2-height-auto {
    height: 100% !important;
}

.full-sc {
    height: 100%;
}
.h-12 {
    height: 100%;
    float: left;
}

.rtl {
    direction: rtl;
}

.block {
    display: block;
}

.persian-text { direction: rtl; font-family: Iransans; }

::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.5);
}

.userarea {
    .sidebar {
        height: 100%;
        position: absolute;
        transition: 1s;
        right: -100%;
        opacity: 0;
        top: 0;
        z-index: 999;
        background: #332223;
        .profile-info {
            p {
                float: left;
                text-align: center;
                color: $white;
                font-size: 14px;
                padding: 5px;
                margin: 0px;
                width: 100%;
            }
        }
        .profile-img {
            text-align: center;
            padding: 5px;
            img {
                height: 65px;
                width: 65px;
                border-radius: 50%;
                margin: auto;
                border: 3px solid #927f80;
                background: $milk;
            }
        }
        .profile-menu {
            ul {
                padding: 0px;
                list-style: none;
                li {
                    width: 100%;
                    float: left;
                    margin-bottom: 5px;
                    a {
                        float: right;
                        width: 100%;
                        font-size: 16px;
                        color: $milk;
                        text-align: right;
                        direction: rtl;
                        font-family: $iransans;
                        padding: 15px;
                        transition: 0.3s;
                        i {
                            float: right;
                            margin-top: 3px;
                            margin-left: 9px;
                        }
                    }
                }
                li:hover a {
                    background: rgba(0,0,0,0.3);
                    color: $white;
                }
            }
        }
    }
    .sidebar.active { right: 0; }
    .contentbar {
        transition: 1s;
        overflow: hidden;
        float: left;
        background: $trs;
        height: 100%;
        .top-bar {
            height: 60px;
            background: $milk;
            float: left;
        }
        .main {
            height: calc(100% - 60px);
            background: #f6f6f6;
            float: left;
            overflow-y: auto;
            overflow-x: hidden;
            font-family: $iransans;
            .title {
                float: left;
                width: 100%;
                text-align: right;
            }
            form.float-right {
                text-align: right;
                .input-group {
                    float: right;
                }
                input { float: left; }
            }
        }
    }
}

.checkbox-c{
    display: inline-block;
    width: 70px;
    height: 28px;
    position: relative;
    right: 0;
    top: 0px;
    input {
        margin-left: 10px;
    }
    input:checked + .check-handle{
        transition: 0.5s;
        background: #0088DD;
        font-weight: bold;
    }
    input:checked + .check-handle:before{
        color: #026cad;
        content: '\f222';
        transform: translateX(41px);
        transition: 0.5s;
        text-align: center;
        font-weight: bold;
    }
}
.check-handle{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #D7DBDF;
    float: left;
    transition: 0.5s;
    border-radius: 28px;
    cursor: pointer;
}
.check-handle:before{
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    content: '\f221';
    text-align: center;
    position: absolute;
    top: 2px;
    left: 3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    right: 0px;
    transition: 0.5s;
}
.sex-checkbox {
    i {
        position: relative;
        color: #333333;
    }
    .checkbox-c {
        direction: ltr;
        top: 5px;
        .check-handle {
            background: #ff7a91;
            transition: .3s;
            color: #e7697e;
        }
        input:checked + .check-handle {
            transition: 0.3s;
        }
    }
}

.lilselect .select2-container {
    max-width: 90%;
}

.select2-container {
    // width: 80% !important;
    float: right;
    font-family: Iransans;
    font-size: 18px;
    text-align: right;
}
.select2-container .select2-selection--single {
    height: 45px !important;
    padding: 5px;
    // padding-bottom: 10px;
    border-radius: 4px 0 0 4px !important;
}
.lilselect {
    .select2-container {
        font-size: 16px;
    }
}