.books-container {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    > div {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
    .series {
        background-color: #ffcc99;
        margin-left: 10%;
        span {
            font-family: Iransans;
        }
    }
    .books {
        background-color: #ffcc66;
        margin-right: 10%;
        span {
            font-family: Iransans;
        }
    }
}
.plus-icon {
    padding: 5px 10px;
    border-radius: 50%;
    color: #333;
    transition-duration: 0.3s;
}
.plus-icon:hover {
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3) inset;
    color: #000;
}
