.analysis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    > div {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px;
        text-align: right;
        border-radius: 5px;
        box-shadow: 0 0 10px 1px #c5c4c4;
        > div {
            display: flex;
            flex-direction: column;
            :first-child {
                font-weight: bold;
            }
        }
    }
    span {
        margin-right: 10px;
        font-size: 18px;
    }
}
.newCustomers {
    background-color:#5a8c61;
}
.visits {
    background-color:#8a0bc1;
}
.tickets {
    background-color:#e43762;
}
.newCustomers i {
    color: #ffffff;
}
.visits i {
    color: #ffffff;
}
.tickets i {
    color: #ffffff;
}
.newCustomers span {
    color: #ffffff;
    font-family: Iransans;
}
.visits span {
    color: #ffffff;
    font-family: Iransans;
}
.tickets span {
    color: #ffffff;
    font-family: Iransans;
}