.request-form-title {
    border-bottom: 4px solid #303536;
    padding-bottom: 10px;
    border-radius: 15px;
}
.current-chapter {
    display: block;
    opacity: 1;
    text-align: right;
}
.disable-chapter {
    display: none;
    opacity: 0;
}
.quiz-container {
    padding: 20px;
    border: 1px solid #000000;
    background-color: #f6f9e6;
    margin-bottom: 30px;
    border-radius: 5px 0 5px 5px;
    > div {
        > p {
            color: #000000;
            font-family: Iransans;
        }
    }
    > h4 {
        color: #000000;
        font-family: Iransans;
        font-weight: 200;
        margin-bottom: 20px;
    }
}
.maxed-txtarea {
    width: 100%;
    min-height: 220px;
    background-color: #F4FAFF;
    border-radius: 6px;
    box-shadow: inset 0px 0px 5px 0px #ca1341;
    padding: 10px;
    text-align: right;
    resize: none;
    direction: rtl;
    font-size: 16px;
}
.unmaxed-txtarea {
    width: 100%;
    min-height: 220px;
    background-color: #F4FAFF;
    padding: 10px;
    text-align: right;
    border-radius: 6px;
    resize: none;
    direction: rtl;
    font-size: 16px;
}
.story-txtarea {
    min-height: 500px;
}
.validation-message {
    font-family: Iransans;
    color: #ca1341
}
.request-form-buttons-container {
    button {
        border-radius: 10px;
        font-size: 16px;
        color: #174d6d;
        background-color: #e2f4ff;
        transition-duration: 0.3s;
        i,span {
            float: right;
        }
        i {
            font-size: 18px;
            margin-top: 2px;
        }
    }
    button:hover {
        color: #e2f4ff;
        background-color: #174d6d;
    }
}

.questions-container > div {
    margin-bottom: 30px;
}

.chapters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    > button {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: #F6F8E6;
        border: 2px solid #000;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        outline: none;
        width: fit-content;
        padding: 5px;
        transition-duration: 0.3s;
        > i {
            color: #ffffff;
            font-size: 40px;
            padding: 20px;
            border: none;
            // background: #F6F8E6;
            // border: 2px solid #000;
            // border-bottom: none;
            // border-radius: 5px 5px 0 0;
        }
        > span {
            color: #d6d6d6;
        }
    }
    > button:hover {
        background-color: #ffae00;
    }
    .current-chapter-button {
        margin-bottom: -1px;
        z-index: 90;
        > span {
            color: #000000;
        };
    }
    .current-chapter-icon {
        color: #000000;
        z-index: 90;
        margin-bottom: -1px;
    }
    .finished-chapter {
        color: #919191;
        ~ span {
        color: #919191
        };
    }
}