.ticket-area {
    height: 90%;
    .messages {
        height: 85%;
        background: url(/images/inc/chat-background.png);
        background-repeat: repeat;
        overflow-y: auto;
        border: 3px solid #333333;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        > div.message {
            float: left;
            width: 100%;
            height: auto;
            position: relative;
            img.photo {
                height: 40px;
                width: 40px;
                border: 3px solid #333333;
                background: $milk;
                border-radius: 50%;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            p.text {
                width: fit-content;
                min-width: 85px;
                padding: 5px 10px;
                padding-bottom: 20px;
                background: rgba(0,0,0, .8);
                font-size: 15px;
                max-width: 60%;
                word-wrap: break-word;
                border-radius: 7px 7px 7px 0px;
                color: $white;
                float: left;
                margin-left: 50px;
                box-shadow: 2px 1px 5px 0.5px #888888;
                text-align: right;
                position: relative;
                span.time {
                    font-size: 10px;
                    position: absolute;
                    right: 10px;
                    bottom: 1px;
                    font-style: italic;
                    i {
                        float: right;
                        margin-left: 4px;
                    }
                }
            }
        }
        > div.question {
            p.text {
                border-radius: 7px 7px 0 7px;
                float: right;
                margin-left: 0px;
                margin-right: 50px;
                box-shadow: -2px 1px 5px 0.5px #666;
                span.time {
                    right: unset;
                    left: 10px;
                    i { float: left; margin-left: 0px; margin-right: 4px; }
                }
            }
            img.photo {
                left: unset;
                right: 0;
            }
        }
    }
    .messaging-area {
        height: 15%;
        border: 3px solid #333333;
        border-radius: 0 0 10px 10px;
        textarea {
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            overflow: auto;
            float: left;
            word-wrap: break-word;
            resize: none;
        }
    }
}

