@import 'main';
@import 'dashboard.scss';
@import 'books.scss';
@import 'quiz-form.scss';
@import 'ticket.scss';

@media screen and (max-width: 768px)
{
    .sex-checkbox {
        width: 70% !important;
    }
    .ticket-area .messages > div.message p.text {
        max-width: 75%;
    }
}
