@font-face {
  font-family: IranSans;
  src: url(/fonts/IranSans/IRANSansWeb.ttf);
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.podcast-container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.elnovel-audioplayer {
  background: transparent;
  float: left;
  height: 100px;
  padding: 0px;
}

.elnovel-audioplayer .pleayer-over {
  position: relative;
  height: 100%;
  background: #937f81;
  border-radius: 15px;
  z-index: 2;
}

.elnovel-audioplayer .pleayer-over .album-art {
  position: absolute;
  top: -40px;
  right: 40px;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #937f81;
  overflow: hidden;
  transition: 0.5s;
}

.elnovel-audioplayer .pleayer-over .album-art img {
  float: left;
  width: 100%;
  height: 100%;
}

.elnovel-audioplayer .pleayer-over .album-art.active {
  top: -50px;
}

.elnovel-audioplayer .pleayer-over .album-art.active img {
  transition: 0.1s linear all;
  -webkit-animation: rotation 5s linear 0s infinite forwards;
          animation: rotation 5s linear 0s infinite forwards;
}

.elnovel-audioplayer .pleayer-over .album-art.activer img {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.elnovel-audioplayer .pleayer-over .player-controls {
  height: 100%;
  float: left;
  width: calc(100% - 165px);
  padding: 5px 10px;
}

.elnovel-audioplayer .pleayer-over .player-controls .control {
  float: left;
  width: 25%;
  padding: 5px;
  text-align: center;
  height: 100%;
  font-size: 26px;
}

.elnovel-audioplayer .pleayer-over .player-controls .control i {
  margin-top: calc(50% - 13px);
  color: #383131;
}

.elnovel-audioplayer .pleayer-over .player-controls .volume-container {
  transition: 0.3s;
  position: relative;
  float: left;
  width: 100px;
  height: 30px;
  padding: 0px 4px;
  margin-left: 60px;
  margin-top: -50%;
  display: none;
  opacity: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}

.elnovel-audioplayer .pleayer-over .player-controls .volume-container .volume-slide {
  width: 90%;
  position: absolute;
  z-index: 4;
  top: -10px;
}

.elnovel-audioplayer .pleayer-over .player-controls .volume-container .volume-slide .volume-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background-color: #999999;
  outline: none;
  transition: 0.2s;
  border-radius: 12px;
}

.elnovel-audioplayer .pleayer-over .player-controls .volume-container .volume-slide .volume-slider:hover {
  opacity: 1;
}

.elnovel-audioplayer .pleayer-over .player-controls .volume-container .volume-slide .volume-slider::-webkit-slider-thumb,
.elnovel-audioplayer .pleayer-over .player-controls .volume-container .volume-slide .volume-slider::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dfdfdf;
}

.elnovel-audioplayer .pleayer-over .player-controls .control.volume-box:hover .volume-container {
  transition: 0.3s;
  display: block;
}

.elnovel-audioplayer .pleayer-over .player-controls .control i:hover {
  cursor: pointer;
}

.elnovel-audioplayer .player-content {
  position: absolute;
  top: 0;
  right: 15px;
  left: 15px;
  background: #FFF7F7;
  transition: 0.3s ease top;
  z-index: 1;
  height: 100%;
  border-radius: 15px 15px 0 0;
  font-family: Iransans;
  padding-right: 160px;
  padding-top: 10px;
}

.elnovel-audioplayer .player-content .title,
.elnovel-audioplayer .player-content .subtitle {
  float: left;
  width: 100%;
  text-align: right;
  direction: rtl;
  margin: 0px;
}

.elnovel-audioplayer .player-content .title {
  font-size: 18px;
}

.elnovel-audioplayer .player-content .subtitle {
  font-size: 14px;
  color: #444444;
}

.elnovel-audioplayer .player-content .audio-slider {
  float: left;
  width: 80%;
  direction: ltr;
  height: 10px;
  outline: none;
  border-radius: 5px;
  background: #dfdfdf;
  padding: 0px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 20%;
}

.elnovel-audioplayer .player-content .audio-slider .bar {
  background: #383131;
  height: 100%;
  border-radius: 5px;
  margin: 0px;
  z-index: 1;
  position: relative;
}

.elnovel-audioplayer .player-content .audio-slider .s-hover {
  background: #766667;
  height: 100%;
  border-radius: 5px;
  margin: 0px;
  z-index: 2;
  width: 100%;
  top: -10px;
  position: relative;
}

.elnovel-audioplayer .player-content.active {
  top: -92px;
}

.elnovel-audioplayer span.volume-speed {
  font-family: Iransans;
  font-size: 10px;
  padding: 0px 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #dfdfdf;
}

