#mainpage {
  float: left;
}

#left-menu {
  right: 0;
  left: unset;
}

nav .horizental-menu li p,
nav .horizental-menu li a {
  direction: rtl;
  text-align: right;
  font-family: Iransans;
}

nav .horizental-menu li p > i:first-child,
nav .horizental-menu li a > i:first-child {
  margin-left: 10px;
}

nav .horizental-menu li p i.opened,
nav .horizental-menu li a i.opened {
  transform: rotate(-90deg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
td,
th {
  font-family: Iransans;
}

th,
td {
  font-size: 14px;
}

table {
  direction: rtl;
}

input[type=text],
textarea,
button[type=submit] {
  direction: rtl;
  text-align: right;
  font-family: Iransans;
}

form .input-group {
  float: right;
  direction: rtl;
}

#left-menu.collapsed {
  left: unset !important;
  transition: 1s;
  right: -50% !important;
}

.navbar-top button {
  float: right;
}

.rtl {
  direction: rtl;
}

