$blue: #3490dc;
$black: #000000;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$chocolate: #766667;
$chocolate-low: #937f81;
$chocolate-high: #655759;
$chocolate-super: #635657;
$chocolate2: #6e5e5f;
$chocolate-bitter: #383131;
$nescafe: #563537;
$white: #ffffff;
$milk: #dfdfdf;
$pink: #cc7979;
$pink-heigh: #d45e5e;
$coffee: rgb(110, 94, 95,0.7);
$whatsapp: #32B746;
$instagram: #D33272;
$facebook: #3D558F;
$telegram: #349DD9;
$youtube: #F80000;
$twitter: #1C9DEB;
$linkedin: #0271AE;
// COLOURS
$oil: #2C303B;
$darkOil: #23262F;
$white: #ffffff;
$silver: #E9EAEF;
$green: #c8ff0b;
$trs: transparent;
// FONTS
$open-sans: 'Open Sans', sans-serif;
$nunito: 'Nunito', sans-serif;
$male: #026cad;
$female: #e7697e;
$gold: #F7E68D;