@import url('https://fonts.googleapis.com/css?family=Nunito|Open+Sans');

// Variables
@import '../../inc/colors';
@import '../../inc/fonts';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Main
@import 'main';
//Upload
@import '~dropzone/dist/dropzone.css';
// lity
@import '~lity/dist/lity.css';
@import '~swiper/css/swiper.css';
@import '~sweetalert2/src/sweetalert2.scss';
@import '~select2/dist/css/select2.min.css';

.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 200px;
	height: 200px;
	background: #fff;
}
.pro-photos img{
	width: 100%;
	height: 100%;
}

.pickfile {
    position: absolute;
    z-index: 1200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
    .card-file {
        height: 200px;
        float: left;
        background: #{$trs};
        overflow: hidden;
        padding: 5px;
        > div.inner {
            background: $milk;
            float: left;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            .cover {
                height: 150px;
                width: 100%;
                float: left;
                img {
                    height: 100%;
                    width: 100%;
                    margin: auto;
                }
                i {
                    margin: auto;
                    margin-top: 45px;
                }
            }
            p.desc {
                font-size: 12px;
                word-wrap: break-word;
            }
        }
        > div.inner:hover {
            cursor: pointer;
        }
    }
    .selected-files {
        .thumbnail {
            width: 50px;
            height: 50px;
            background: $milk;
            text-align: center;
            border: 1px solid $black;
            float: left;
            img {
                width: 100%;
                height: 100%;
                float: left;
            }
            i {
                color: $black;
                font-size: 24px;
                margin: auto;
                margin-top: 10px;
            }
        }
    }
}
.react-file-picker {
    width: auto;
    height: auto;
    > div {
        width: fit-content;
        float: left;
    }
}
.pickfile.active {
    display: block;
    opacity: 1;
    transition: 0.5s;
}

.contentbar {
    height: calc(100% - 71px);
    overflow-y: auto;
    overflow-x: hidden;
}
.c-blue {
    color: $male;
    opacity: .5;
}
.c-pink {
    color: $female;
    opacity: .5;
}
.seo-form {
    background: $milk;
    #seo-description {
        height: 120px;
        resize: none;
        overflow-y: auto;
    }
}

.ticket-area {
    height: 90%;
    .messages {
        height: 85%;
        background: url(/images/inc/chat-background.png);
        background-repeat: repeat;
        overflow-y: auto;
        border: 3px solid #333333;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        > div.message {
            float: left;
            width: 100%;
            height: auto;
            position: relative;
            img.photo {
                height: 40px;
                width: 40px;
                border: 3px solid #333333;
                background: $milk;
                border-radius: 50%;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            p.text {
                width: fit-content;
                min-width: 85px;
                padding: 5px 10px;
                padding-bottom: 20px;
                background: rgba(0,0,0, .8);
                font-size: 15px;
                max-width: 60%;
                word-wrap: break-word;
                border-radius: 7px 7px 7px 0px;
                color: $white;
                float: left;
                margin-left: 50px;
                box-shadow: 2px 1px 5px 0.5px #888888;
                text-align: right;
                position: relative;
                span.time {
                    font-size: 10px;
                    position: absolute;
                    right: 10px;
                    bottom: 1px;
                    font-style: italic;
                    i {
                        float: right;
                        margin-left: 4px;
                    }
                }
            }
        }
        > div.answer {
            p.text {
                border-radius: 7px 7px 0 7px;
                float: right;
                margin-left: 0px;
                margin-right: 50px;
                box-shadow: -2px 1px 5px 0.5px #666;
                span.time {
                    right: unset;
                    left: 10px;
                    i { float: left; margin-left: 0px; margin-right: 4px; }
                }
            }
            img.photo {
                left: unset;
                right: 0;
            }
        }
    }
    .messaging-area {
        height: 15%;
        border: 3px solid #333333;
        border-radius: 0 0 10px 10px;
        textarea {
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            overflow: auto;
            float: left;
            word-wrap: break-word;
            resize: none;
        }
    }
}
body.swal2-height-auto { height: 100% !important; }
.persian-text { direction: rtl; font-family: Iransans; }
.golden { color: $gold; }

.choose-file-container {
    position: fixed;
    z-index: 1200;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background: #f5f5f5;
    box-shadow: 0 0 5px 1px #333;
    border-radius: 5px;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
}
@media print{
    @page {
        size: A4;
        margin: 0mm;
        orphans: 0 !important;
        widows : 0 !important;
    }
}
